@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    background-color: #F2F2F2;
    color: #000000;
    width: 1280px;
    text-align: justify;
  }

  .welcome-section {
    background: url("../images/welcome-background.jpg") no-repeat;
    height: 485px;
  }


  .services-list-item, .choose-section {
    background-color: #FFFFFF;
  }

  .advantages-item, .services-item-dark {
    background-color: #83B3D333;
  }

  .advantages-item-with-image {
    background-color: #82B3D3;
  }

  .advantages-item-light {
    background-color: #83B3D31F;
  }

  .menu-list, .form-section-heading {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .list {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .header-main a:hover {
    border-bottom: 2px solid #756257;
  }

  .index-subscribtion-section {
    background: url("../images/email-blur-background.jpg") no-repeat;
  }

  .subscribtion-section {
    height: 414px;
  }

  .about-heading, .subscription-heading, .result-heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }

  .reasons-text {
    line-height: 26px;
    color: #333333;
  }

  .advantages-header-item, .services-header-item, .hotel-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    font-family: inherit;
    text-transform: uppercase;
  }

  .hotel-name {
    text-transform: none;
  }

  .advantages-description, .sorted-by, .information {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }

  .advantages-header-bright, .description-bright, .subscription-heading-bright, .reasons-text-bright {
    color: #FFFFFF;
  }

  .footer-contacts-address-phone {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
  }

  .footer-contacts-address-phone:hover {
    color: #756157;
    cursor: pointer;
  }

  .choose-button, .more-details-button {
    background-color: #756157;
  }

  .choose-button:hover, .more-details-button:hover,
  .choose-button:focus, .more-details-button:focus {
    background-color: #615048;
    cursor: pointer;
  }

  .subscribe-button, .apply-button, .add-button {
    background-color: #82B3D3;
  }

  .subscribe-button:hover, .apply-button:hover, .add-button:hover, .pagination-link:hover {
    background-color: #68A2CA;
  }

  .added {
    background-color: #7DB54F;
  }

  .added:hover {
    background-color: #6C9E42;
  }

  .reset-button:hover {
    border: solid 3px #83B3D3;
    border-radius: 4px;
  }

  .button {
    font-family: "PT Sans", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
  }

  .button:active {
    color: #FFFFFF4D;
  }

  .button:hover {
    cursor: pointer;
  }

  .hotels-filter-section {
    background: url('../images/filter-background.jpg') no-repeat;
  }

  .filter-form {
    color: #FFFFFF;
  }

  .catalog-heading {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    color: #FFFFFF;
  }

  .breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }

  .form-section-heading{
    color: #FFFFFF;
  }

  .parametrs-list {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }

  .rating{
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    background-color: #F2F2F2;
  }

  .pagination-item a {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    background-color: #82B3D3;
  }

  .pagination-item a {
    color: #FFFFFF;
  }

  .pagination-item:first-child a {
    background-color: #F2F2F2;
    color: #000000
  }

  .pagination-item:nth-child(5) a {
    font-size: 22px;
    color: #000000;
    line-height: 36px;
    background-color: #FFFFFF;
  }
